<template>
    <div class="center">
        <h1>{{ counter }}</h1>
        <button @click.right="counterup">Counter Up</button>
        <button @click.middle="counterdown">Counter Down</button>
    </div>
</template>

<script>
    export default {
        name: "CounterView",
        data(){
            return{
                counter: 0,
            }
        },
        methods:{
            counterup(){
                this.counter++
            },
            counterdown(){
                this.counter--
            },
        }
    }
</script>

<style>
    h1{
        color:brown
    }
    .center{
        text-align: center;
    }
</style>