<template>
    <div>
        <h1>{{ msg }}</h1>
        <hr>
        <!-- <h1>{{ name }}</h1>
        <h1>{{ position }}</h1> 
        <button v-on:click= "changeName(45),changeProsition('CEO') ">Change name</button> -->
        <h1>Nmae:{{ name }}password :{{ password }}</h1>
        <input type="text" @input= "getInput($event,'Zuckkaberg')">
        <input type="text" @input="getpassword">
        
    </div>
</template>

<script>

export default {
    name:"HandleView",
    data:()=> {
        return{
            msg:"Event Handlling",
            name: '',
            position:'Developer'
        }
    },
     methods:{
        changeName(ageParmas){
            this.name ='Elon Musk' +",Age :"+ageParmas

        },
        changeProsition(positionNew){
            this.position = positionNew
        },
        getInput(event,lastname){
            this.name=event.target.value + " " + lastname 
            console.log(event)
        },
        getpassword(event){
            this.passwrod = event.target.value
            console.log(event)
        },
    }   
}
</script>

<style lang="scss" scoped>

</style>