<template>
  <div>
    <!--<Handle></Handle>-->
    <Counter/>
  </div>
</template>

<script>
//import Handle from './components/Handle.vue'
import Counter from './components/counter.vue'
export default{
  name:'App',
  components: {
    Counter
  }
}
</script>

<style>

</style>